html{
    scroll-behavior: smooth;
}

body{
    background-color:#D2E0ED;
    height: 100vh;
}

/* Bagian Navbar */
a .navbar-brand {
    font-family: Lobster !important;
}

.header-subtitle {
    font: normal 1.10rem Montserrat;
    padding: 10px 10px !important;
}

.header-title {
    color: black;
    font: bold 1.25rem Montserrat;
    padding: 10px 10px !important;
}

.navbar {
    background-color: #B8DADF;
}

li .nav-item .active .header-subtitle a .nav-link{
    background-color: #324C4C;
}

/* Status */
#status {
    background-color: #D2E0ED;
}

#status h1{
    color: #324C4C;
    font: normal 3rem Kreon;
}

#status .btn {
    background-color: #EB8299;
    color: #324C4C;
    font: normal 1rem Montserrat;
}

#status .form-control {
    background-color: #FDFDFD;
    color: #324C4C;
    font: normal 1rem Montserrat;
    height: 40px;
}

#status .header {
    background-color: #FFEEEC;
    font: bold 1rem Roboto;
}

#status-table {
    color: #324C4C;
    font: normal 1rem Montserrat;
}

/* About */
#about {
    background-color: #D2E0ED;
}

#about h1 {
    color: #324C4C;
    font: bold 2rem Lobster;
}

#about h4 {
    color: #324C4C;
    font: bolder 2rem Lobster;
}

#about p {
    color: #324C4C;
    font: normal 1rem Montserrat;
    line-height: 1.6;
}

.box {
    border: 2px solid #EB8299;
    margin-bottom: 1rem;
    margin-top: 0% !important;
    padding: 1rem 0%;
}

.col h2 {
    color: #324C4C;
    font: normal 1rem "Poppins";
    line-height: 1.6;
}

#about .header{
    background-color: white;
    padding: 1rem 0%;
}

/* Accordion */
#accordion {
    margin-top: 10px;
}

.button {
    padding: 10px;
    background-color: #FAC8C9;
    color: #324C4C;;
    cursor: pointer;
    max-width: 75%;
    margin: 0 auto;
    border-bottom: 2px solid #EB8299;
    border-radius: 10px;
    font: bold 1.25rem Roboto; 
}

.button:hover {
    background-color: #EB8299;
}

.slide {
    max-width: 70%;
    margin: 0 auto;
}
